{{template "header"}}
<title>文章 基于beego开发的博客</title>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{template "navbar" .}}
    </div>
</div>

<div class="container">
    <h1>文章列表</h1>
    <h4>文章列表</h4>
    <h2>文章列表</h2>
    <a href="/topic/add" class="btn btn-default">添加文章</a>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>文章名称</th>
            <th>最后更新</th>
            <th>浏览</th>
            <th>回复数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .Topics}}
            <tr>
                <th>{{.Id}}</th>
                <th>{{.Title}}</th>
                <th>{{.Updated}}</th>
                <th>{{.Views}}</th>
                <th>{{.Replycont}}</th>
                <th>
                    <a href="/topic/show/{{.Id}}">浏览全文</a>
                </th>
                <th>
                    <a href="/topic/modify/{{.Id}}">编辑</a>
                </th>
                <th>
                    <a href="/topic/del/{{.Id}}">删除</a>
                </th>
            </tr>
        {{end}}
        </tbody>
    </table>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>




